<h1>Add a Time Entry</h1>

<%= form_for [@my_project, @my_entry] do |f| %>
	<%= f.label :hours %>
	<%= f.text_field :hours %>

	<%= f.label :minutes %>
	<%= f.text_field :minutes %>

	<%= f.label :date %>
	<%= f.date_field :date %>

	<%= f.button %>
<% end %>